{% extends 'base.html.twig' %}

{% block title %}
    Modification de mots de passe
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Formulaire de modification de mots de passe</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Confirmer la modification de mots de passe !</button>
        {{ form_end(form) }}
    </div>
{% endblock %}