{% extends 'base.html.twig' %}

{% block title  %} Accueil {% endblock %}
{% block body %}
    <h1>Welcome to the Homepage</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae obcaecati, hic possimus sit culpa magni quas. A dolore veniam error, necessitatibus, quisquam pariatur ab ea tempore quos non suscipit officia alias nulla corporis consectetur vitae quia accusamus vel dolorum laborum.</p>
    <p>Eum, consequatur odio. Illum harum adipisci sunt vitae quisquam non illo ab, vero dolorem ad consequuntur sapiente incidunt sequi distinctio doloremque magnam iste ducimus cupiditate. Voluptatibus animi provident, facilis voluptatum dolor tempore magni quis optio voluptas impedit, quo repudiandae nobis?</p>
{% endblock %}